.venv
__pycache__/
*.py[cod]
*$py.class
venv
.eggs
.pytest_cache
*.egg-info
.DS_Store
.vscode
dist
build
uv.lock
node_modules/
frontend/api.d.ts
frontend/src/page_data/*_schema.json
frontend/src/page_data/*.types.ts
datasette_town/manifest.json
datasette_town/static/gen/
datasette_town/manifest.json

*.db